@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    @apply font-sans;
  }
}

@layer components {
  .input {
    @apply w-[50%] rounded-lg border-[2px] border-solid border-[#9F9F9F] bg-transparent px-5 py-6 text-[20px] focus-within:outline-none;
  }

  .submit--btn {
    @apply rounded-lg bg-black px-10 py-6 text-[20px] text-white;
  }

  .history--box {
    @apply flex cursor-pointer items-center gap-[5px] rounded-full border-[1px] border-solid border-black py-1 pe-2 ps-4 text-[20px] transition-all hover:bg-slate-300;
  }

  .white--btn {
    @apply rounded-[6px] border-[1px] border-solid border-white px-[56px] py-[16px] text-white transition-all hover:bg-white hover:text-[#211C24];
  }

  .black--btn {
    @apply rounded-[6px] border-[1px] border-solid border-black px-[56px] py-[16px] text-black transition-all hover:bg-black hover:text-[#cccbcd];
  }

  .skeleton--img {
    @apply h-full w-full object-contain;
  }

  @keyframes skeletonAnime {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .skeleton--animation {
    animation-name: skeletonAnime;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .skeleton--animation:nth-child(1) {
    animation-delay: 0;
  }

  .skeleton--animation:nth-child(2) {
    animation-delay: 0.3s;
  }

  .skeleton--animation:nth-child(3) {
    animation-delay: 0.6s;
  }

  .skeleton--animation:nth-child(4) {
    animation-delay: 0.9s;
  }

  @keyframes productAnime {
    0% {
      opacity: 1;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  div[class^="product--window--parts"] {
    animation-name: productAnime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .product--window--parts__1 {
    animation-delay: 2s;
  }
  .product--window--parts__2 {
    animation-delay: 4s;
  }
  .product--window--parts__3 {
    animation-delay: 6s;
  }
  .product--window--parts__4 {
    animation-delay: 8s;
  }
}

@layer utilities {
  .nav--links {
    --s: 7px;
    border: 2px solid transparent;
    padding: 3px 5px;
    text-align: center;
    mask:
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--s)) calc(100% - var(--s));
    transition: border-color 0.6s;
  }
}
