@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    @apply font-sans;
  }
}

@layer components {
  .input {
    @apply w-[50%] rounded-lg border-[2px] border-solid border-[#9F9F9F] bg-transparent px-5 py-6 text-[20px] focus-within:outline-none;
  }

  .submit--btn {
    @apply rounded-lg bg-black px-10 py-6 text-[20px] text-white;
  }

  .history--box {
    @apply flex cursor-pointer items-center gap-[5px] rounded-full border-[1px] border-solid border-black py-1 pe-2 ps-4 text-[20px] transition-all hover:bg-slate-300;
  }

  .white--btn {
    @apply rounded-[6px] border-[1px] border-solid border-white px-[56px] py-[16px] text-white transition-all hover:bg-white hover:text-[#211C24];
  }

  .black--btn {
    @apply rounded-[6px] border-[1px] border-solid border-black px-[56px] py-[16px] text-black transition-all hover:bg-black hover:text-[#cccbcd];
  }
}

@layer utilities {
  .nav--links {
    --s: 7px;
    border: 2px solid transparent;
    padding: 3px 5px;
    text-align: center;
    mask:
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--s)) calc(100% - var(--s));
    transition: border-color 0.6s;
  }
}
