/* bottom divider */
.shape-divider-bottom {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}

.shape-divider-bottom .shape-fill {
  fill: url(#bottom--gradient);
}

/* top divider */
.shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 250px;
}

.shape-divider-top .shape-fill {
  fill: url(#top--gradient);
}
